@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

a, a:visited{
	text-decoration:none;
	color: #666;
}

#renkliMenu > ul{
	width: 450px;
	margin: 0 auto;
	list-style: none;
}

#renkliMenu > ul > li{
	display:inline-block;
	position:relative;
	line-height:1;
	margin:1px;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(100,100,100,0.2) inset, 1px 1px 1px #CCC;
}

#renkliMenu > ul > li > a{
	color:inherit;
	font-size:24px;
	padding:25px;
}

.yesil{ background-color: #00c083; color: #127a5d; }
.pembe{ background-color: #ea5080; color: #aa2a52; }
.mavi{ background-color: #53bfe2; color: #2884a2; }
.turuncu{ background-color: #f8c54d; color: #ab8426; }
.mor{ background-color: #df6dc2; color: #9f3c85; }